#lca-loading {
    position: absolute;
    z-index: 1000;
    top: 0; right: 0; bottom: 0; left: 0;

    display: grid;
    place-content: center;

    background-color: black;
    color: white;
    text-align: center;
}

#lca-loading * {
    max-width: 80ch;
    margin: 1em 0;
}

#lca-loading aside {
    color: grey;
}

.leaflet-marker-pane button {
    --color-support: var(--lca-color, black);
    --color-support-container: white;
    background-color: var(--lca-color, black);
    color: white;
}

[data-lca-todo] {
    --lca-color: grey;
}